/* typography */
h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

/* footer */

footer {
  margin-top: 35px;
  border-top: 1px solid $gray-lighter;
  padding: 10px;
  a {
    color: $gray-light;
    &:hover {
      color: $gray-light;
    }
  }
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#admin {
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 12px;
}
