<div class="row">
  <footer>
    <center>
      <small><%= link_to "Contribute to this project on GitHub",
                         "https://github.com/BenMusch/debatemate-admin",
                         target: "_blank" %>     |     
            <%= link_to "Report a bug or request a feature",
                         "mailto:muschol.b@husky.neu.edu" %></small>
      <%= debug(params) if Rails.env.development? %>
    </center>
  </footer>
</div>
