<ul class="nav nav-pills">
  <li role="presentation">
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </li>
</ul>
