<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar navbar-header">
      <%= link_to "Debate Mate USA", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar navbar-right">
      <% if admin? %>
        <%= render 'layouts/admin_header' %>
      <% elsif logged_in? %>
        <%= render 'layouts/user_header' %>
      <% else %>
        <%= render 'layouts/unregistered_header' %>
      <% end %>
    </div>
  </div>
</nav>
